<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
</head>
<body>
	<div th:fragment="footer">
		<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
		<script th:src="@{/vendor/popper.js/popper.min.js}"></script>
		<script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
		<script th:src="@{/vendor/chart.js/chart.min.js}"></script>
		<script th:src="@{/js/carbon.js}"></script>
		<script th:src="@{/js/demo.js}"></script>
	</div>
</body>
</html>