<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8" />
<meta name="viewport"
	content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<link rel="stylesheet"
	href="./vendor/simple-line-icons/css/simple-line-icons.css" />
<link rel="stylesheet"
	href="./vendor/font-awesome/css/fontawesome-all.min.css" />
<link rel="stylesheet" href="./css/styles.css" />
<title layout:title-pattern="$DECORATOR_TITLE | $CONTENT_TITLE">example</title>
</head>
<body>
	<div class="page-wrapper flex-row align-items-center">
		<div class="container">
			<div class="row justify-content-center">
				<th:block layout:fragment="layout-content" />
			</div>
		</div>
	</div>
	<!-- footer include-->
	<div th:replace="/include/footer :: footer"></div>
	<!-- /footer include-->
</body>
</html>
