<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
</head>
<body>
	<div th:fragment="sidebar">
		<div class="navbar nav_title" style="border: 0;">
			<a href="index.html" class="site_title"><i class="fa fa-rocket"></i>
				<span>freitech App</span></a>
		</div>
		<div class="clearfix"></div>

		<!-- menu profile quick info -->
		<div class="profile clearfix">
			<div class="profile_pic">
				<img th:src="@{/images/img.jpg}" alt="..."
					class="img-circle profile_img" />
			</div>
			<div class="profile_info">
				<span th:text="${user.loginId}">Welcome,</span>
				<h2 th:text="${user.name}">John Doe</h2>
			</div>
		</div>
		<!-- /menu profile quick info -->
		<br />
		<!-- sidebar menu -->
		<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
			<div class="menu_section">
				<h3>業務管理</h3>
				<ul class="nav side-menu">
					<li><a><i class="fa fa-home"></i> 受注管理 <span
							class="fa fa-chevron-down"></span></a>
						<ul class="nav child_menu">
							<li><a href="/estimate/index">見積もり</a></li>
						</ul></li>
					<li><a><i class="fa fa-desktop"></i>顧客管理<span
							class="fa fa-chevron-down"></span></a>
						<ul class="nav child_menu">
							<li><a href="general_elements.html">General Elements</a></li>
							<li><a href="media_gallery.html">Media Gallery</a></li>
							<li><a href="typography.html">Typography</a></li>
							<li><a href="icons.html">Icons</a></li>
							<li><a href="glyphicons.html">Glyphicons</a></li>
							<li><a href="widgets.html">Widgets</a></li>
							<li><a href="invoice.html">Invoice</a></li>
							<li><a href="inbox.html">Inbox</a></li>
							<li><a href="calendar.html">Calendar</a></li>
						</ul></li>
					<li><a><i class="fa fa-clone"></i>Layouts <span
							class="fa fa-chevron-down"></span></a>
						<ul class="nav child_menu">
							<li><a href="fixed_sidebar.html">Fixed Sidebar</a></li>
							<li><a href="fixed_footer.html">Fixed Footer</a></li>
						</ul></li>
				</ul>
			</div>
			<div class="menu_section">
				<h3>マスタメンテナンス</h3>
				<ul class="nav side-menu">
					<li><a><i class="fa fa-bug"></i>業務管理<span
							class="fa fa-chevron-down"></span></a>
						<ul class="nav child_menu">
							<li><a href="/information/index">お知らせ</a></li>
							<li><a href="/master/item/index">商品</a></li>
							<li><a href="/master/customer/index">顧客</a></li>
						</ul></li>
					<li><a><i class="fa fa-sitemap"></i> Multilevel Menu <span
							class="fa fa-chevron-down"></span></a>
						<ul class="nav child_menu">
							<li><a href="/atum/index">ModelCreator</a></li>
							<li><a>Level One<span class="fa fa-chevron-down"></span></a>
								<ul class="nav child_menu">
									<li class="sub_menu"><a href="level2.html">Level Two</a></li>
									<li><a href="#level2_1">Level Two</a></li>
									<li><a href="#level2_2">Level Two</a></li>
								</ul></li>
							<li><a href="#level1_2">Level One</a></li>
						</ul></li>
					<li><a href="javascript:void(0)"><i class="fa fa-laptop"></i>
							Landing Page <span class="label label-success pull-right">Coming
								Soon</span></a></li>
				</ul>
			</div>
			<div class="menu_section">
				<h3>設定</h3>
				<ul class="nav side-menu">
					<li><a><i class="fa fa-bug"></i> Additional Pages <span
							class="fa fa-chevron-down"></span></a></li>
				</ul>
			</div>
		</div>
		<!-- /sidebar menu -->
		<!-- /menu footer buttons -->
		<div class="sidebar-footer hidden-small">
			<a data-toggle="tooltip" data-placement="top" title="Settings"> <span
				class="glyphicon glyphicon-cog" aria-hidden="true"></span>
			</a> <a data-toggle="tooltip" data-placement="top" title="FullScreen">
				<span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
			</a> <a data-toggle="tooltip" data-placement="top" title="Lock"> <span
				class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
			</a> <a data-toggle="tooltip" data-placement="top" title="Logout"
				href="login.html"> <span class="glyphicon glyphicon-off"
				aria-hidden="true"></span>
			</a>
		</div>
		<!-- /menu footer buttons -->
	</div>

</body>
</html>