<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<title>登録</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"
	rel="stylesheet" />
<link href="/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
<script
	src="http://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"
	th:src="@{/webjars/jquery/2.2.4/jquery.min.js}"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
	th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>

<script type="text/javascript">
	$(document).ready(function() {
		$("#password").attr("type", "password");
	});
</script>
</head>
<body>
	<div class="col-sm-offset-2 col-sm-10">
		<h1>ユーザ確認画面</h1>
	</div>
		<div class="container">
		<div th:if="${success != null}"
			class="alert alert-success col-sm-offset-2 col-sm-10" role="alert">
			<!-- successMessage Area -->
			<label th:text="${success}">success</label>
			<!-- /successMessage Area -->
		</div>
		<div th:if="${errors != null || fieldErrors != null}"
			class="alert alert-danger col-sm-12" role="alert">
			<!-- errorMessage Area -->
			<label>入力に誤りがあります。</label>
			<ul th:each="error : ${errors}" th:object="${error}">
				<li th:text="*{defaultMessage}"></li>
			</ul>
			<!-- /errorMessage Area -->
		</div>
	</div>
	<div class="col-sm-offset-2 col-sm-10">
		<form class="form-horizontal" action="#"
			th:action="@{/registration/complete}" th:object="${form}"
			method="POST">
			<div>
				<h2>入力した内容で登録します。よろしいですか？</h2>
			</div>
			<div class="panel panel-primary">
				<div class="panel-heading">入力項目</div>
				<div class="panel-body">
					<div class="form-group">
						<label for="loginId" class="col-sm-3 control-label">ログインID</label>
						<div class="col-sm-9">
							<input type="text" id="loginId" class="form-control"
								th:field="*{loginId}" readonly="true" />
						</div>
					</div>
					<div class="form-group">
						<label for="password" class="col-sm-3 control-label">パスワード</label>
						<div class="col-sm-9">
							<input type="text" id="password" class="form-control"
								th:field="*{password}" readonly="true" />
						</div>
					</div>
					<input type="hidden" th:field="*{confirmation}" />
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-12">
					<button type="submit" class="btn btn-primary" tabindex="-1">登録</button>
				</div>
			</div>
		</form>
	</div>
</body>
</html>