<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>ログイン</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"
	rel="stylesheet" />
<link href="/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
<script
	src="http://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"
	th:src="@{/webjars/jquery/2.2.4/jquery.min.js}"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
	th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>
<body>
	<div class="col-sm-offset-2 col-sm-10">
		<h1>ログイン画面</h1>
		<p class="col-sm-offset-1">ログインIDとパスワードを入力してください。</p>
		<div th:if="${loginError}"
			class="alert alert-danger col-sm-offset-1 col-sm-11" role="alert">
			<!-- errorMessage Area -->
			<p class="col-sm-offset-1">
				<em>ログインIDまたはパスワードに誤りがあります。</em>
			</p>
			<!-- /errorMessage Area -->
		</div>
		<div th:if="${timeout}"
			class="alert alert-danger col-sm-offset-1 col-sm-11" role="alert">
			<!-- errorMessage Area -->
			<p class="col-sm-offset-1">
				<em>一定時間操作がなかった為、ログアウトしました。ご利用される場合は再度ログインして下さい。</em>
			</p>
			<!-- /errorMessage Area -->
		</div>
		<div class="container">
			<div th:if="${success != null}"
				class="alert alert-success col-sm-offset-2 col-sm-10" role="alert">
				<!-- successMessage Area -->
				<label th:text="${success}">success</label>
				<!-- /successMessage Area -->
			</div>
			<div th:if="${errors != null}"
				class="alert alert-danger col-sm-offset-2 col-sm-10" role="alert">
				<!-- errorMessage Area -->
				<label>入力に誤りがあります。</label>
				<ul th:each="error : ${errors}" th:object="${error}">
					<li th:text="*{defaultMessage}"></li>
				</ul>
				<!-- /errorMessage Area -->
			</div>
		</div>
		
	</div>

	<div class="col-sm-10 col-sm-offset-2 ">
		<form class="form-horizontal" th:action="@{/login}" method="post">
			<div class="form-group">
				<p>
					<label for="loginId" class="col-sm-2 control-label">ログインID</label>
					<input class="col-sm-6 form-caontrol" type="text" id="loginId"
						name="loginId" autofocus="autofocus" />
				</p>
			</div>
			<div class="form-group">
				<p>
					<label for="password" class="col-sm-2 control-label">パスワード</label> <input
						class="col-sm-6 form-caontrol" type="password" id="password"
						name="password" />
				</p>
			</div>
			<p class="col-sm-offset-1">
				<input class="btn btn-primary" type="submit" value="Log in" />
			</p>
		</form>
		<div class="col-sm-offset-1 col-sm-4">
			<p>
				<a th:href="@{/registration/input}">サインアップ</a>
			</p>
			<p>
				<a th:href="@{/}">戻る</a>
			</p>
		</div>
	</div>

</body>
</html>