<html lang="ja" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="include/layoutNoneHeader">
<head>
<meta charset="utf-8" />
<title>ログイン</title>
</head>
<body>
	<th:block layout:fragment="layout-content">

		<div class="animate form login_form">
			<div
				class="card-header text-center text-uppercase h4 font-weight-light">
				ログイン</div>
			<section class="login_content">
				<form th:action="@{/login}" method="post">
					<h1>Login Form</h1>
					<!-- TODO: メッセージを出し分け -->
					<div th:if="${loginError}" class="alert alert-danger row"
						role="alert">
						<!-- errorMessage Area -->
						<p>ログインIDまたはパスワードに誤りがあります。</p>
						<!-- /errorMessage Area -->
					</div>
					<div th:if="${timeout}" class="alert alert-danger" role="alert">
						<!-- errorMessage Area -->
						<p class="col-sm-offset-1">
							一定時間操作がなかった為、ログアウトしました。ご利用される場合は再度ログインして下さい。</p>
						<!-- /errorMessage Area -->
					</div>
					<div th:if="${errors != null}" class="alert alert-danger"
						role="alert">
						<!-- errorMessage Area -->
						<label>入力に誤りがあります。</label>
						<ul th:each="error : ${errors}" th:object="${error}">
							<li th:text="*{defaultMessage}"></li>
						</ul>
						<!-- /errorMessage Area -->
					</div>
					<div>
						<input id="loginId" name="loginId" type="text"
							class="form-control" autofocus="autofocus" required=""
							placeholder="Input Username" />
						<div>
							<input class="form-control" type="password" id="password"
								name="password" placeholder="Input Password" required="" />
						</div>
						<div>
							<button type="submit" class="btn btn-default submit">ログイン</button>
							<a class="reset_pass" th:href="@{/setting/forgotPassword}">パスワードを忘れた場合</a>
						</div>
						<div class="clearfix"></div>
						<div class="separator">
							<p class="change_link">
								New to Site? <a class="btn btn-link"
									th:href="@{/registration/input}">サインアップ</a>
							</p>
							<div class="clearfix"></div>
							<br />
							<div>
								<h1>
									<i class="fa fa-rocket"></i> Gentelella Alela!
								</h1>
								<p>©2016 All Rights Reserved. Gentelella Alela! is a
									Bootstrap 3 template. Privacy and Terms</p>
							</div>

						</div>
					</div>
				</form>
			</section>
		</div>
	</th:block>
</body>
</html>