<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="include/layoutTmpl">
<head>
<title>トップ</title>
<meta charset="UTF-8" />
</head>
<body>
	<th:block layout:fragment="layout-content">
		<div class="col-md-12">
			<h1>トップ</h1>
			<div
				th:if="${informations != null and not #lists.isEmpty(informations)}">
				<ul th:each="item : ${informations}" th:object="${item}">
					<li><span th:text="*{startDate}"></span> <span
						th:text="*{content}"></span></li>
				</ul>
			</div>
			<div th:if="${informations == null or #lists.isEmpty(informations)}">
				お知らせはありません。</div>
		</div>
	</th:block>
</body>
</html>