<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
</head>
<body>
	<div th:fragment="model(readonly)">
		<div class="form-group">
			<div
				th:replace="/partials/inputPartial::input('itemNo', '商品番号', ~{::#itemNo})">
				<input id="itemNo" type="text" required
					class="form-control col-md-7 col-xs-12" th:field="*{itemNo}"
					th:attr="readonly='__${readonly}__'" placeholder="HP-0000001" />
			</div>
		</div>
		<div class="form-group">
			<div
				th:replace="/partials/inputPartial::input('name', '商品名', ~{::#name})">
				<input id="name" type="text" class="form-control col-md-7 col-xs-12"
					th:field="*{name}" th:attr="readonly='__${readonly}__'"
					placeholder="子ページ追加" />
			</div>
		</div>
		<div class="form-group">
			<div
				th:replace="/partials/inputPartial::input('type', '商品分類', ~{::#type})">
				<select id="type" class="form-control col-md-7 col-xs-12"
					th:field="*{type}" th:attr="readonly='__${readonly}__'">
					<option th:each="type : ${types}" th:value="${type}"
						th:text="${type.name}"></option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<div
				th:replace="/partials/inputPartial::input('unit', '単位', ~{::#unit})">
				<select id="unit" class="form-control col-md-7 col-xs-12"
					th:field="*{unit}" th:attr="readonly='__${readonly}__'">
					<option th:each="unit : ${units}" th:value="${unit}"
						th:text="${unit.name}"></option>
				</select>
			</div>
		</div>
	</div>
</body>
